@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xvx1b8');
  src:  url('fonts/icomoon.eot?xvx1b8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xvx1b8') format('truetype'),
    url('fonts/icomoon.woff?xvx1b8') format('woff'),
    url('fonts/icomoon.svg?xvx1b8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aside-collapse:before {
  content: "\e943";
}
.icon-arrow-up:before {
  content: "\e903";
}
.icon-arrow-down:before {
  content: "\e902";
}
.icon-back:before {
  content: "\e905";
}
.icon-go:before {
  content: "\e904";
}
.icon-prev-y:before {
  content: "\e932";
}
.icon-next-y:before {
  content: "\e933";
}
.icon-checkmark:before {
  content: "\e90a";
}
.icon-cancel:before {
  content: "\e90b";
}
.icon-plus:before {
  content: "\e913";
}
.icon-minus:before {
  content: "\e914";
}
.icon-list:before {
  content: "\e90c";
}
.icon-list-2:before {
  content: "\e93e";
}
.icon-loading:before {
  content: "\e931";
}
.icon-download:before {
  content: "\e934";
}
.icon-enlarge:before {
  content: "\e906";
}
.icon-narrow:before {
  content: "\e907";
}
.icon-dot-array-y:before {
  content: "\e900";
}
.icon-cancel-2:before {
  content: "\e922";
}
.icon-prohibit:before {
  content: "\e924";
}
.icon-warning:before {
  content: "\e925";
}
.icon-home:before {
  content: "\e901";
}
.icon-gear:before {
  content: "\e919";
}
.icon-tool:before {
  content: "\e935";
}
.icon-address:before {
  content: "\e90e";
}
.icon-chat:before {
  content: "\e909";
}
.icon-chat-2:before {
  content: "\e91b";
}
.icon-user:before {
  content: "\e90d";
}
.icon-user-book:before {
  content: "\e90f";
}
.icon-group:before {
  content: "\e910";
}
.icon-search:before {
  content: "\e912";
}
.icon-heart:before {
  content: "\e915";
}
.icon-heart-2:before {
  content: "\e916";
}
.icon-label:before {
  content: "\e918";
}
.icon-pen:before {
  content: "\e91a";
}
.icon-camera:before {
  content: "\e91c";
}
.icon-picture:before {
  content: "\e923";
}
.icon-QRcode:before {
  content: "\e91d";
}
.icon-phone:before {
  content: "\e91e";
}
.icon-praise:before {
  content: "\e91f";
}
.icon-document:before {
  content: "\e920";
}
.icon-file-code:before {
  content: "\e936";
}
.icon-file-table:before {
  content: "\e937";
}
.icon-write:before {
  content: "\e938";
}
.icon-window:before {
  content: "\e921";
}
.icon-window-empty:before {
  content: "\e939";
}
.icon-form:before {
  content: "\e93a";
}
.icon-modal:before {
  content: "\e93b";
}
.icon-cart:before {
  content: "\e926";
}
.icon-RMB:before {
  content: "\e911";
}
.icon-order:before {
  content: "\e917";
}
.icon-order-checkmark:before {
  content: "\e927";
}
.icon-order-cancel:before {
  content: "\e928";
}
.icon-truck:before {
  content: "\e908";
}
.icon-box-open:before {
  content: "\e929";
}
.icon-box:before {
  content: "\e92a";
}
.icon-lock:before {
  content: "\e92c";
}
.icon-notice:before {
  content: "\e92d";
}
.icon-news:before {
  content: "\e92e";
}
.icon-calendar:before {
  content: "\e92f";
}
.icon-bear-market:before {
  content: "\e92b";
}
.icon-bull-market:before {
  content: "\e930";
}
.icon-layout:before {
  content: "\e93c";
}
.icon-blocks:before {
  content: "\e93d";
}
.icon-tree:before {
  content: "\e93f";
}
.icon-chart:before {
  content: "\e940";
}
.icon-chart-2:before {
  content: "\e941";
}
.icon-trash:before {
  content: "\e942";
}
