@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fm5p5g');
  src:  url('fonts/icomoon.eot?fm5p5g#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fm5p5g') format('truetype'),
    url('fonts/icomoon.woff?fm5p5g') format('woff'),
    url('fonts/icomoon.svg?fm5p5g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dot-array-y:before {
  content: "\e900";
}
.icon-home:before {
  content: "\e901";
}
.icon-arrow-down:before {
  content: "\e902";
}
.icon-arrow-up:before {
  content: "\e903";
}
.icon-go:before {
  content: "\e904";
}
.icon-back:before {
  content: "\e905";
}
.icon-enlarge:before {
  content: "\e906";
}
.icon-narrow:before {
  content: "\e907";
}
.icon-truck:before {
  content: "\e908";
}
.icon-chat:before {
  content: "\e909";
}
.icon-checkmark:before {
  content: "\e90a";
}
.icon-cancel:before {
  content: "\e90b";
}
.icon-list:before {
  content: "\e90c";
}
.icon-user:before {
  content: "\e90d";
}
.icon-address:before {
  content: "\e90e";
}
.icon-user-book:before {
  content: "\e90f";
}
.icon-group:before {
  content: "\e910";
}
.icon-RMB:before {
  content: "\e911";
}
.icon-search:before {
  content: "\e912";
}
.icon-plus:before {
  content: "\e913";
}
.icon-minus:before {
  content: "\e914";
}
.icon-heart:before {
  content: "\e915";
}
.icon-heart-2:before {
  content: "\e916";
}
.icon-order:before {
  content: "\e917";
}
.icon-label:before {
  content: "\e918";
}
.icon-gear:before {
  content: "\e919";
}
.icon-pen:before {
  content: "\e91a";
}
.icon-chat-2:before {
  content: "\e91b";
}
.icon-camera:before {
  content: "\e91c";
}
.icon-QRcode:before {
  content: "\e91d";
}
.icon-phone:before {
  content: "\e91e";
}
.icon-praise:before {
  content: "\e91f";
}
.icon-document:before {
  content: "\e920";
}
.icon-window:before {
  content: "\e921";
}
.icon-cancel-2:before {
  content: "\e922";
}
.icon-picture:before {
  content: "\e923";
}
.icon-prohibit:before {
  content: "\e924";
}
.icon-warning:before {
  content: "\e925";
}
.icon-cart:before {
  content: "\e926";
}
.icon-order-checkmark:before {
  content: "\e927";
}
.icon-order-cancel:before {
  content: "\e928";
}
.icon-box-open:before {
  content: "\e929";
}
.icon-box:before {
  content: "\e92a";
}
.icon-bear-market:before {
  content: "\e92b";
}
.icon-lock:before {
  content: "\e92c";
}
.icon-notice:before {
  content: "\e92d";
}
.icon-news:before {
  content: "\e92e";
}
.icon-calendar:before {
  content: "\e92f";
}
.icon-bull-market:before {
  content: "\e930";
}
.icon-loading:before {
  content: "\e931";
}
.icon-prev-y:before {
  content: "\e932";
}
.icon-next-y:before {
  content: "\e933";
}
.icon-qing:before {
  content: "\f00d";
}
.icon-yin:before {
  content: "\f013";
}
.icon-yun:before {
  content: "\f002";
}
.icon-yu:before {
  content: "\f01a";
}
.icon-xiaoyu:before {
  content: "\f037";
}
.icon-lei:before {
  content: "\f03a";
}
.icon-shachen:before {
  content: "\f082";
}
.icon-wu:before {
  content: "\f030";
}
.icon-xue:before {
  content: "\f064";
}
.icon-yujiaxue:before {
  content: "\f0b5";
}
.icon-bingbao:before {
  content: "\f01c";
}
.icon-zhenyu:before {
  content: "\f015";
}
